*,::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.container {
    height: 100vh;
    width: 70vh;
    margin: 2rem auto;

}

.container h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
}

.formulario-datos {
    display: block;
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.formulario-datos input {
    margin: 1rem 0rem;
    line-height: 3rem;
    background: none;
    outline: 0;
    border: 0;
    color: #fff;
}

.formulario-datos input:active{
    border-bottom: 1px solid #5bf1d4;
}

.formulario-datos input:focus{
    border-bottom: 1px solid #5bf1d4;
}

.formulario-datos button {
    margin: 1rem 0rem;
    background-color: #5bf1d4;
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 3px;
    text-transform: uppercase;
    color: #414345;
    font-size: 1.4rem;
}

.listado-tareas {
    display: flex;
    flex-direction: column;
    margin: 0.7rem 0rem;
}

.tarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}

.icono {
    color: tomato;
    cursor: pointer;
    position: relative;
    bottom: 8px;
    left: 3px;
}